@import '../../stylesheets.scss';

@include phone {
  .dot {
    display: none;
  }
}

@include tablet {
  .dot {
    display: none;
  }
}

@include desktop {
  .dot {
    height: 100px;
    width: 100px;
    background-color: whitesmoke;
    border-radius: 50%;
    position: fixed;
    filter: blur(100px);
    opacity: 0;

    &.show {
      animation: showDot 0.3s ease-in-out;
      opacity: 1;
    }

    &.hide {
      animation: hideDot 0.3s ease-in-out;
      opacity: 0;
    }
  }

  @keyframes showDot {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes hideDot {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
