// Styles
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$main-color: #ffffff;
$secondary-color: #e5e4e2;

// Responsive organizer

$breakpoint-phone: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1025px;

@mixin phone {
  @media (max-width: $breakpoint-phone) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpoint-phone) and (max-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}
